<%- include("reusable-layouts/head"); -%>

<div class="td-container">
  <div class="tds-categories">
    <!-- Create "All" category -->
    <% if (currentCategory === "All") { %>
      <p class="td-category selected-category"><a href="/">All</a></p>
    <% } else { %>
      <p class="td-category"><a href="/">All</a></p>
    <% } %>

    <!-- Populate todos categories -->
    <% todos.forEach(function(tdc){ %>
      <% if (currentCategory !== tdc.category) { %>
        <p class="td-category"> <a href="/<%=tdc.category%>/toDos"><%= tdc.category %></a></p>
      <% } else { %>
        <p class="td-category selected-category"> <a href="/<%=tdc.category%>/toDos"><%= tdc.category %></a></p>
      <% } %>

    <% }); %>

    <!-- Field to add another todos category -->
    <form action="/toDosCategory" method="post">
      <input class="toDosCategoryInput" type="text" name="toDosCategory" autocomplete="off"></input>
      <button class="btn toDosCategoryBtn" type="submit" name="submitToDosCategory">+</button>
    </form>

  </div>

  <div class="tds">

    <!-- Field to add a todo to a given category -->
    <form action="/<%=currentCategory%>/toDos" method="post">
      <input class="toDoInput" type="text" name="toDo" autocomplete="off"></input>
      <button class="btn toDoBtn" type="submit" name="submitToDo">+</button>
    </form>

  </div>
</div>

<%- include("reusable-layouts/footer"); -%>
