<%- include("reusable-layouts/head"); -%>

<div class="td-container">
  <div class="tds-categories">

    <p class="td-category">All</p>

    <!-- Populate todos categories -->
    <% todos.forEach(function(tdc){ %>
      <% if (currentCategory !== tdc.category) { %>
        <p class="td-category"> <a href="/<%=tdc.category%>/toDos"><%= tdc.category %></a></p>
      <% } else { %>
        <p class="td-category selected-category"> <a href="/<%=tdc.category%>/toDos"><%= tdc.category %></a></p>
      <% } %>

    <% }); %>

    <!-- Add another todos category -->
    <form action="toDosCategory" method="post">
      <input class="toDosCategoryInput" type="text" name="toDosCategory" autocomplete="off"></input>
      <button class="btn toDosCategoryBtn" type="submit" name="submitToDosCategory">+</button>
    </form>

  </div>

  <div class="tds">

    <form action="<%=currentCategory%>/toDos" method="post">
      <input class="toDoInput" type="text" name="toDo" autocomplete="off"></input>
      <button class="btn toDoBtn" type="submit" name="submitToDo">+</button>
    </form>

  </div>
</div>

<%- include("reusable-layouts/footer"); -%>
